site_name: Cardano MPFS Offchain
site_url: https://paolino.github.io/cardano-mpfs-offchain/
repo_url: https://github.com/paolino/cardano-mpfs-offchain

theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.path
    - toc.integrate
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - admonition
  - tables
  - footnotes
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Home: index.md
  - Architecture:
      - Overview: architecture/overview.md
      - Data Sources: architecture/data-sources.md
      - Singletons: architecture/singletons.md
      - Database Layer: architecture/database.md
